.App {
    display: flex;
}

aside {
    font-family: 'Noto Sans';
    font-size: 1.4rem;
    font-weight: 500;
    margin: 5rem 10rem 0 5rem;
    color: var(--grey62);
}

aside > header {
    font-family: Poppins;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 10.2rem;
}

aside > header > span {
    color: var(--red);
}

aside > div {
    margin: 2.5rem 0;
}

.activeText{
    color: var(--black);
}

.label {
    margin: 4rem 0 1rem 0;
    font-size: 1.2rem;
    font-family: 'Ubuntu Mono', sans-serif;
    color: var(--hrey20);
}

.smGrid {
    display: grid;
    grid-template-columns: repeat(2, minmax(20rem, 30rem));
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(20rem, 30rem));
}

footer {
    margin-top: 10rem;
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

footer > a {
    color: var(--grey66);
}