:root {
  --black: hsla(231, 69%, 11%, 1);
  --grey25: hsla(0, 0%, 25%, 1);
  --grey62: hsl(0, 0%, 62%);
  --grey66: hsla(0, 0%, 66%, 1);
  --red: hsla(11, 93%, 57%, 1);
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
